body {
     height:auto;
     margin: 0;
}

/*----- IDs -----*/

#header {
    margin: 0 auto;
}

@media (min-width:1200px) {
    #main {
        height: 400px;
        margin: 0 auto;
    }
}

@media (min-width:980px) and (max-width:1199px) {
    #main {
        height:300px;
        margin:0 auto;
    }
}

@media (min-width:796px) and (max-width:979px) {
    #main {
        height:230px;
        margin:0 auto;
    }
}

@media (max-width:795px) {
    #main {
        margin:0 auto;
    }
}

#footer {
    margin: 0 auto;
    background: -webkit-linear-gradient(white 80%, #f3f3f3 20%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white 80%, #f3f3f3 20%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white 80%, #f3f3f3 20%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white 80%, #f3f3f3 20%); /* Standard syntax (must be last) */
}

@media (min-width:1200px) {
    #footer {
        height: 295px;
    }
}

@media (min-width:980px) and (max-width:1199px) {
    #footer {
        height:225px;
    }
}

@media (min-width:796px) and (max-width:979px) {
    #footer {
        height:160px;
    }
}

@media (max-width:795px) {
    #footer {
        height:150px;
    }
}

/*----- HOLDERS -----*/

.width {
    height:309px; display:inline-block; width:33%;
}

/*----- IMAGES -----*/

.logo {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    max-width: 100%;
    height: auto;
}

@media (min-width:1200px) {
    .logo {
    }
}

@media (min-width:980px) and (max-width:1199px) {
    .logo {
        width:275px;
    }
}

@media (min-width:796px) and (max-width:979px) {
    .logo {
        width:230px;
    }
}

@media (max-width:795px) {
    .logo {
        width:210px;
    }
}

@media (min-width:796px) {
    .setWidth1,
    .setWidth2,
    .setWidth3 {
        width: 33%;
        height: auto;
        position: relative;
        top: 1px;
    }
}

@media (min-width:796px) {
    .setWidth1:hover {
        content: url('images/Pearl_link.jpg');
        position: relative;
        top: 2px;
    }
    }

@media (min-width:796px) {
    .setWidth2:hover {
        content: url('images/membersdb_link.jpg');
        position: relative;
        top: 2px;
    }
    }

@media (min-width:796px) {
    .setWidth3:hover {
        content: url('images/test3_link.jpg');
        position: relative;
        top: 2px;
    }
    }

@media (min-width:796px) {
    #slideOverlay {
        width: 100%;
        background-color: rgba(9,0,83,0.25);
        position: absolute;
    }
}

@media (max-width:795px) {
    .setWidth1,
    .setWidth2,
    .setWidth3 {
        visibility:visible;
        width: 67%;
        height: auto;
        position: relative;
        display:block;
        margin:0 auto 10px auto;
    }
}

@media (max-width:795px) {
    #slideOverlay {
        visibility:hidden;
    }
})

/*----- TEXT -----*/

h1 {
     font-family:Verdana, Geneva, Tahoma, sans-serif; color:rgb(9,0,83); padding:100px 0; z-index:1; text-align:center; position:absolute; margin:0; font-size:64px; font-weight:normal;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(9,0,83); 
    text-align: center;
    font-weight: normal;
}

@media (min-width:1200px) {
    h2 {
        margin: 20px 0 15px;
        font-size: 36px;
    }
}

@media (min-width:980px) and (max-width:1199px) {
    h2 {
        margin:15px 0 12px;
        font-size:28px;
    }
}

@media (min-width:796px) and (max-width:979px) {
    h2 {
        margin:10px 0 8px;
        font-size:22px;
    }
}

@media (max-width:795px) {
    h2 {
        margin:;
        font-size:;
    }
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(9,0,83);
    text-align: center;
    font-weight: normal;
}

@media (min-width:1200px) {
    h3 {
        margin: 15px 0 5px;
        font-size: 28px;
    }
}

@media (min-width:980px) and (max-width:1199px) {
    h3 {
        margin: 12px 0 3px;
        font-size:20px;
    }
}

@media (min-width:796px) and (max-width:979px) {
    h3 {
        margin:8px 0 0;
        font-size:16px;
    }
}

@media (max-width:795px) {
    h3 {
        margin:8px auto;
        font-size:14px;
    }
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #424242;
}

@media (min-width:1200px) {
    h5 {
        margin: 33px auto 22px auto;
        font-size: 20px;
        width: 1010px;
    }
}

@media (min-width:980px) and (max-width:1199px) {
    h5 {
        margin:22px auto 14px auto;
        font-size:16px;
        width:808px;
    }
}

@media (min-width:796px) and (max-width:979px) {
    h5 {
        margin:18px auto 10px auto;
        font-size:14px;
        width:706px;
    }
}

@media (max-width:795px) {
    h5 {
        margin:14px auto;
        font-size:12px;
        width:602px;
    }
}

a:link {
    text-decoration:none;
    color:rgb(9,0,83);
    -o-transition: color 1s linear;
    -moz-transition: color 1s linear;
    -khtml-transition: color 1s linear;
    -webkit-transition: color 1s linear;
    -ms-transition: color 1s linear;
    transition: color 1s linear;
}

a:hover {
    color:rgb(43,156,234);
}



